{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  if limit == 1
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}



<style>
  .embla {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  .product-media-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* This creates a square aspect ratio */
  }
  .product-media__image,
  .product-media__preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-media__play-button,
  .product-media__model-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .embla__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2A55EB;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .embla__button--prev {
    left: 10px;
  }
  .embla__button--next {
    right: 10px;
  }
  .embla__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.embla__dot {
  width: 5px;
  height: 5px;
  background: #2A55EB;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot--selected {
  width: 10px;
  height: 10px;
  transition: 0.3s;
  background: #2A55EB;
}
</style>
<media-gallery id="MediaGallery-{{ section.id }}" class="product-carousel">
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container">
        {%- for media in product.media -%}
          <div class="embla__slide">
            {% render 'product-thumbnail', media: media %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <button
      type="button"
      class="embla__button embla__button--prev"
      aria-label="{{ 'general.slider.previous_slide' | t }}"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
    <polyline points="15 18 9 12 15 6"></polyline>
  </svg>
    </button>
    <button
      type="button"
      class="embla__button embla__button--next"
      aria-label="{{ 'general.slider.next_slide' | t }}"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
    <polyline points="9 18 15 12 9 6"></polyline>
  </svg>
    </button>
  </div>
  <div class="embla__dots"></div>
</media-gallery>